.admin-wr {
	display: inline-block;
	position: relative;
}
.admin {
	display: inline-block;
	font-size: 10px !important;
	padding: 2px 2px 2px 2px;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    padding-block-start: 1px;
    padding-block-end: 3px;    
	border-radius: 50%;
	text-transform: lowercase;
	opacity: .5;
	position: absolute;
	white-space: nowrap;
	z-index: 1000;
	top: -20px;
	left: -20px;
	width: auto;
	height: auto;
	line-height: 17px;
	background: rgba(0,0,0,.5);
	color: #fff !important;
	text-decoration: none;
	cursor: pointer;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center; 
    vertical-align: middle;  
}
.admin .fa {
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: top;  
}
.admin:hover {
	background: rgba(0,0,0,.8);
}
#control .uc {
    text-transform: uppercase;
}
#control {
	position: fixed;
	left: 0;
	top: 0;
	padding: 19px;
	cursor: pointer;
	z-index: 10000;
}
#control img {
    height: 32px; 
    display: inline-block; 
    vertical-align: top; 
    margin-left: 20px;
}
#control .inner {
   display: inline-block; 
   line-height: 16px; 
   font-size: 13px; 
   padding-left: 8px; 
   vertical-align: top;
}
#control.control img {
    height: 32px; 
    display: inline-block; 
    vertical-align: top; 
    margin-left: 0px;
}
#control.control .inner {
    display: inline-block; 
    line-height: 16px; 
    font-size: 13px;
    padding-left: 8px; 
    vertical-align: top;    
}
#control.edit img {
    height: 32px; display: inline-block; vertical-align: top; margin-left: 0px;
}
#control.edit .inner {
    display: inline-block; 
    line-height: 16px; 
    font-size: 13px;
    padding-left: 8px; 
    vertical-align: top;    
}
#exit {
	position: fixed;
	right: 0;
	top: 0;
	padding: 19px;
	cursor: pointer;
	z-index: 10000;
}